<div class="about-pg">
	<h1 class="my-account-header">About</h1><hr />

	<div class="about-content">
		<p>Welcome to a work-in-progress Wiki page for contributing and collecting resources on code + design.</p>

		<p>This web-app was built as part of General Assembly's WDI immersive program during our 6th week - using Ruby on Rails, PostSql, CSS, and a little bit of JavaScript.</p>

		<p>Feel free to play by creating a username or log in using a guest account below.</p>

		<p><b>Guest login email:</b> guest@gmail.com<br>
		<b>Guest password:</b> guest</p>

		<p>Send any comments via <a href="mail_to:yukanagai@gmail.com">email</a> or a <a href="http://twitter.com/yukanagai">tweet</a>.
	</div>
</div>