<p id="notice"><%= notice %></p>

<div class="login-form">
  <form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <div id="login-input">
    <h1>LOGIN</h1><br>
    <h3><input type="text" name="email" placeholder="Email"></h3>
    <h3><input type="password" value="" name="password" id="CustomerPassword" placeholder="Password"></h3>
    <p><input type="submit" value="Sign In" id="submit-button"></p>
  </div>

  <div id="new-user">
    <h3>New user?</h3>
    <h4><a href="/users/new">Sign up!</a></h4>
  </div>

</div>


<div id="signature">
  <h5>Made with <img src='http://brightnewday.dk/img/heart.png' width=30px;> by Yuka Nagai</h5>
</div>


