<p id="notice"><%= notice %></p>

<div class="login-form">
  <form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <div id="login-input">
    <h3>Email:  <input type="text" name="email"></h3>
    <h3>Password:  <input type="password" name="password"></h3>
  </div>

  <input type="submit">
  <h3>New user?</h3>
  <h4><a href="/users/new">Sign up!</a></h4>
</div>

<div id="signature">
  <h5>Made with <img src='http://brightnewday.dk/img/heart.png' width=30px;> by Yuka Nagai</h5>
</div>
