/*FOR EVERYTHING*/
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  line-height: 18px;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 100px;
  margin: 0 auto;
  padding-top: 0;
}

#footer {
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
  text-align: center;
}

#signature {
  display: inline-block;
  margin-top: 20px;
}

.header-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #1abc9c;
  text-decoration: underline;
}

::selection {
  background: #1abc9c;
  color: #333;
 }

 .notice-div {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
 }

 #notice {
   color: #E91E63;
   font-size: 1em;
   text-transform: uppercase;
 }

 #title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
 }

 #title a:hover {
  text-decoration: line-through;
}

#submit-button {
  border: black;
  background: black;
  color: white;
  width: 225px;
  height: 25px;
}

#submit-button a:hover {
  text-decoration: none;
}


  /*RESPONSIVE MENU BAR*/

/* http://demos.uilang.com/hamburger-menu/style.css */
#responsive-menu a {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 11px 0 0 9px;
  border-radius: 50%;
  border: 1px solid rgba(0,40,60,.2);
  tap-highlight-color: transparent;
}

#responsive-menu span {
  display: block;
  width: 16px;
  height: 2px;
  background: rgb(0,40,60);
  transition: .7s;
  pointer-events: none;
}

#responsive-menu span:nth-child(2) {
  margin: 3px 0;
}
#responsive-menu .open {
  border-color: rgba(255,255,255,.2);
}
#responsive-menu  .open span {
  background: #fff;
}
#responsive-menu .open :first-child {
  transform: translateY(5px) rotate(-45deg);
}
#responsive-menu .open :nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}
#responsive-menu .open :last-child {
  transform: translateY(-5px) rotate(-135deg);
}
#responsive-menu nav {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgb(0,40,60);
  transform: translateX(-100%);
  transition: .5s;
}
#responsive-menu .open + nav {
  transform: none;
}
#responsive-menu code {
  color: transparent;
  font-size: 0;
}


/* NAV BAR */

.nav-bar {
  background: black;
  width: 100%;
  height: 50px;
}

.logo {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  margin-left: 20px;
  float: left;
  text-transform: uppercase;
}

.logo a {
  color: white;
  padding: 14px 35px;
}

.login-nav {
  font-family: 'Open Sans Condensed', sans-serif;
  float: right;
}

.login-nav a {
  display: inline-block;
  padding: 14px 35px;
  margin-left: 30px;
  color: white;
  text-transform: uppercase;
}


#loggedin-username {
  color: white;
  display: inline-block;
  text-transform: capitalize;
  margin-left: 30px;
}

.about a {
  margin-left: 10px;
  text-transform: uppercase;
  color: white;
  padding: 14px 35px;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
}

.about {
  margin-top: 0;
  display: inline-block;
}


/* HOMEPAGE (ARTICLES) */

.sidebar-button {
  display: block;
  color: white;
  background: #E91E63;
  text-align: center;
  text-decoration: bold;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav-create-button {
  background: red;
  margin-right: 10px;
}

.tags-header {
  font-family: 'Open Sans Condensed', sans-serif;
}

.tag-list {
  list-style: none;
  margin-left: -20px;
}

.sidebar-button a {
  color: white;
  width: 150px;
}


.sidebar {
  float: left;
  margin: 10px 60px;
  padding: 0px 10px;
  width: 200px;
  height: 1800px;
}

.article-list {
  margin: 20px;
  padding: 10px;
  width: 600px;
  min-width: 250px;
}

.homepage h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
}

/*ARTICLES SHOW PAGE*/

.articles-wrapper {
  margin: 0 auto;
  width: 600px;
}

.article-header {
    font-family: 'Open Sans Condensed', sans-serif;
}

.article-buttons {
  text-align: center;
}

.article-nav-buttons {
  background: black;
  display: inline-block;
  width: 185px;
  height: 25px;
}

.article-nav-buttons a {
  color: white;
  text-decoration: none;
}



/*LOGIN PAGE*/

.login-form {
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-form form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin: 20px;
}

.input-box {
  width: 225px;
  height: 25px;
  font-size: 14px;
}

.login-input a {
  text-decoration: none;
  color: white;
  background: black;
  width: 100%;
}

#new-user {
  font-size: 11px;
  margin: 30px;
}

#new-user a {
  padding: 6px 90px;
  background: black;
  color: white;
}

#new-user a:hover {
  text-decoration: none;
}


/* NEW USER SIGN UP */

.new-user-form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin: 20px;
  padding-bottom: 20px;
}

.content-centering-wrapper  {
  margin: 0 auto;
  text-align: center;
}


/* USERS SHOW (ACCOUNT) PAGE*/

.my-account-header {
  margin: 20px;
  width: 700px;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
}

.user-page {
  margin: 0 auto;
  width: 700px;
}

.user-posts {
  height: auto;
  float: left;
}

.user-info {
  height: auto;
  float: right;
  padding-right: 20px;
}

.user-info li {
  list-style: none;
  margin-left: -40px;
}

.nav-links {
  display: inline-block;
  float: right;
}


/*NEW ARTICLE PAGE*/

.article-wrapper h2{
  text-align: left;
}

.article-wrapper {
  width: 350px;
  margin: 0 auto;
}

.input-article {
  height: 200px;
  width: 350px;
  font-size: 15px;
}

.input-title {
  height: 30px;
  width: 350px;
  font-size: 16px;
}

.new-article-form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 600px;
  margin: 10px;
  padding: 30px 20px;
}


#tag-dropdown h4 {
  text-align: left;
}

.tag-input {
  background: black;
  color: white;
  font-size: 12px;
}

#submit-article-button {
  background: black;
  color: white;
  width: 350px;
  height: 25px;
  border: none;
}

#submit-article-button a {
  color: white;
  text-decoration: none;
}


/*CREATE A NEW TAG*/

.new-tag-form {
  background: #1abc9c;
  color: white;
  display: block;
  width: 400px;
  margin: 20px;
  padding: 20px;
  margin: 0 auto;
}

.tag-wrapper {
  width: 225px;
  margin: 0 auto;
}

#submit-button {
  border: black;
  background: black;
  text-align: center;
}

#submit-button a {
  color: white;
  width: 225px;
  height: 25px;
  font-size: 11px;
}


/*ABOUT PAGE*/

.about-pg {
  width: 500px;
  margin: 0 auto;

}
