a {
  text-decoration: none;
}

a:hover {
  background: white;
  color: black;
}

#title-header a:hover {
    text-decoration: line-through;
}

::selection {
     background: #1abc9c;
     color: #333;
 }

 #notice {
   color: #E91E63;
   font-style: bold;
 }

 #title-header {
   font-family: 'Amatic SC', cursive;
   font-size: 2em;
   text-align: center;
   margin: 30px;
 }

#signature {
  text-align: center;
  display: block;
  margin-top: 50px;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  float: bottom;
}






/*LOGIN PAGE*/

#welcome-header {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  display: block;
  margin-top: 100px;
}

.login-nav {
  text-align: right;
  margin: 20px;
}

.login-nav a {
  padding: 3px 20px;
  background: black;
  color: white;
}

.login-nav a:hover {
    border-radius: 20px;
}

#loggedin-username {
  padding: 3px 20px;
  background: black;
  color: white;
  display: inline-block;
}

.login-form {
  text-align: center;
}

.login-form form {
  background: #1abc9c;
  border: 1px solid white;
  color: white;
  display: inline-block;
  margin: 30px 40px;
  padding: 5%;
  text-align: center;
}

.login-form form:hover {
  border-radius: 20px;
}

.login-form a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 10px;
}

#login-input {
  text-align: right;
}


/* HOMEPAGE (ARTICLES) */

.sidebar {
  float: left;
  padding: 10px;
  margin: 20px;
}

.article-list {
  display: inline-block;
  width: 600px;
  margin: 20px 70px;
  padding: 10px;
}

.homepage h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
}

.homepage {
  line-height: 1.5em;
}
