/*FOR EVERYTHING*/

body {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  line-height: 18px;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 100px;
}

#footer {
  position: relative;
  margin-top: -100px;
  height: 100px;
  clear: both;
  text-align: center;
}

#signature {
  display: inline-block;
  margin-top: 20px;
}

.header-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #1abc9c;
  text-decoration: underline;
}

::selection {
  background: #1abc9c;
  color: #333;
 }

 .notice-div {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
 }

 #notice {
   color: #E91E63;
   font-size: 1em;
   text-transform: uppercase;
 }

 #title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
 }

 #title a:hover {
  text-decoration: line-through;
}

#submit-button {
  border: black;
  background: black;
  color: white;
  width: 225px;
  height: 25px;
}

#submit-button a:hover {
  text-decoration: none;
}


/* NAV BAR */

.nav-bar {
  background: black;
  width: 100%;
  height: 50px;
}

.logo {
  font-family: 'Amatic SC', cursive;
  color: white;
  margin-left: 30px;
  float: left;
  font-size: 1em;
}

.logo a {
  color: white;
}

.login-nav {
  float: right;
}

.login-nav a {
  display: inline-block;
  padding: 14px 35px;
  color: white;
}


#loggedin-username {
  color: white;
  display: inline-block;
  text-transform: capitalize;
}

/*LOGIN PAGE*/

.login-form {
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-form form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin: 20px;
}

.input-box {
  width: 225px;
  height: 25px;
  font-size: 14px;
}

.login-input a {
  text-decoration: none;
  color: white;
  background: black;
  width: 100%;
}

#new-user {
  font-size: 11px;
  margin: 30px;
}

#new-user a {
  padding: 6px 90px;
  background: black;
  color: white;
}

#new-user a:hover {
  text-decoration: none;
}


/* NEW USER SIGN UP */

.new-user-form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin: 20px;
  padding-bottom: 20px;
}

.content-centering-wrapper  {
  margin: 0 auto;
  text-align: center;
}


/* USERS SHOW (ACCOUNT) PAGE*/

.my-account-header {
  margin: 20px;
  width: 700px;
  margin: 0 auto;
}

.user-page {
  background: grey;
  margin: 0 auto;
  width: 700px;
}

.user-posts {
  height: auto;
  float: left;
  padding: 0px 50px;
  margin-right: 30px;
}

.user-info {
  height: auto;
  float: right;
  padding: 0px 50px;
  margin-right: 30px;
}

.user-info li {
  list-style: none;
  margin-left: -40px;
}

.nav-links {
  display: inline-block;
  float: right;
}


/*NEW ARTICLE PAGE*/

.article-wrapper h2{
  text-align: left;
}

.article-wrapper {
  width: 350px;
  margin: 0 auto;
}

.input-article {
  height: 200px;
  width: 350px;
  font-size: 15px;
}

.input-title {
  height: 30px;
  width: 350px;
  font-size: 16px;
}

.new-article-form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
  width: 600px;
  margin: 10px;
  padding: 30px 20px;
}


#tag-dropdown h4 {
  text-align: left;
}

.tag-input {
  background: black;
  color: white;
  font-size: 12px;
}

#submit-article-button {
  background: black;
  color: white;
  width: 350px;
  height: 25px;
  border: none;
}

#submit-article-button a {
  color: white;
  text-decoration: none;
}


/*CREATE A NEW TAG*/

.new-tag-form {
  background: #1abc9c;
  color: white;
  display: block;
  width: 400px;
  margin: 20px;
  padding: 20px;
  margin: 0 auto;
}

.tag-wrapper {
  width: 225px;
  margin: 0 auto;
}

#submit-button {
  border: black;
  background: black;
  text-align: center;
}

#submit-button a {
  color: white;
  width: 225px;
  height: 25px;
  font-size: 11px;
}



/* HOMEPAGE (ARTICLES) */

.sidebar-button {
  display: block;
  color: white;
  background: #E91E63;
  text-align: center;
  text-decoration: bold;
  padding: 10px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav-create-button {
  background: red;
  margin-right: 10px;
}

.tags-header {
  font-family: 'Open Sans Condensed', sans-serif;
}

.tag-list {
  list-style: none;
  margin-left: -20px;
}

.sidebar-button a {
  color: white;
  width: 150px;
}


.sidebar {
  float: left;
  margin: 10px 20px;
  padding: 0px 10px;
  width: 200px;
  height: 100%;
}

.article-list {
  margin: 20px;
  padding: 10px;
  width: 600px;
  min-width: 250px;
}

.homepage h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
}

/*ARTICLES SHOW PAGE*/

.articles-wrapper {
  margin: 0 auto;
  width: 600px;
}

.article-header {
    font-family: 'Open Sans Condensed', sans-serif;
}

.article-buttons {
  text-align: center;
}

.article-nav-buttons {
  background: black;
  display: inline-block;
  width: 185px;
  height: 25px;
}

.article-nav-buttons a {
  color: white;
  text-decoration: none;
}



