/*FOR EVERYTHING*/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

::selection {
     background: #1abc9c;
     color: #333;
 }

 #notice {
   color: #E91E63;
   font-style: bold;
 }

 #title-header {
   height: 50px;
 }

 #title-header h1 {
   font-family: 'Amatic SC', cursive;
   font-size: 2em;
   text-align: center;
   margin-top: 100px;
 }

 #title-header a:hover {
    text-decoration: line-through;
}

#signature {
  text-align: center;
  display: block;
  margin-top: 50px;
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  float: bottom;
}

/* NAV BAR */

.nav-bar {
  background: black;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
}

.login-nav {
  text-align: right;
  margin: 0;
  display: block;
  float: right;
}

.login-nav a {
  color: white;
  margin: 0;
}

#loggedin-username {
  margin: 0;
  color: white;
  display: inline-block;
}


/*LOGIN PAGE*/

.login-form {
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-form form {
  background: #1abc9c;
  color: white;
  display: inline-block;
  text-align: center;
}

.login-input a {
  text-decoration: none;
  color: white;
  background: black;
}

#login-input h3 {
  text-align: right;
}

#login-input h1 {
  text-align: center;
}

#submit-button {
  border: black;
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  height: 30px;
}

#submit-button:hover {
  border-radius: 20px;
}

#new-user h4 {
  color: white;
  background: black;
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  height: 30px;
}

#new-user a:hover {
  border-radius: 20px;
}

/* NEW USER SIGN UP */

.new-user-signup {
  text-align: center;
}




/* HOMEPAGE (ARTICLES) */

.sidebar {
  float: left;
  padding: 10px;
  margin: 20px;
}

.article-list {
  display: inline-block;
  width: 600px;
  margin: 20px 70px;
  padding: 10px;
}

.homepage h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  text-align: center;
}